body {
    background-color: #F4F6F8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.movie-card {
    width: 14rem;
    margin: 0.5rem;
}

.movie-card img {
    height: 18rem;
    object-fit: cover;
}

.movie-card .card-img-overlay {
    padding: 0;
}

.movie-card .card-img-overlay .card-body {
    width: 14rem;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    padding: 0.5em 0.5em;
}

.plot {
    margin-top: 0.5rem;
    text-indent: 1rem;
}

.nominate-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    border: none;
    background: transparent;
    color: transparent;
    transition: all 0.3s ease-out;
}

.nominate-btn:hover {
    color: white;
    background: rgba(0,0,0,0.7);
}

.movie-nominee-card {
    height: 20rem;
    flex-direction: row;
}

.movie-nominee-card img {
    margin: 3px;
    height: calc(100% - 6px);
    width: 14rem;
    object-fit: cover;
}

.movie-nominee-card .card-body {
    width: 14rem;
}

.custom-scrollbar {
    overflow-y: overlay;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(84,87,88,0.3);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 20px;
}